* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 5%;
    gap: 2%;
    position: relative;
    border: 2px solid black;
}

.Title {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 50%;
}

.Game {
    display: flex;
    position: relative;
    border: 2px solid black;
    width: 90%;
    height: 100%;
}

.Game .Player.Side,
.Game .Opponent.Side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex: 0.5;
    border: 2px solid red;
}

.Game .Player.Side #player,
.Game .Opponent.Side #opponent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    border: 2px solid black;
    width: 80%;
    height: 40%;
}

.Game .Player.Side .Score,
.Game .Opponent.Side .Score {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 20%;
    height: 10%;
}

.Result {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 10%;
    bottom: 12%;
    border: 2px solid black;
    background: white;
}

dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
    bottom: 0%;
    top: 25%;
    margin: 0 auto;
    border: 2px solid black;
}

dialog > .Options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 2%;
    width: 90%;
    height: 70%;
    border: 2px solid black;
}

dialog > .Options > button {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    font-size: 50px;
    background: none;
}